/* Global */
body {
  background: #8888B9;
}

img { 
    width : 50%;
}

/* Layout */


/* Typography */



/* Navigation */
a {
    background: red;
    border-radius: 20px;
    display: block;
    height: 50px;
    width: 100px;
}

li {
    display: inline-block;
}